[2021-01-05 20:02] clairefro opened #5 "Redirect to tutorial ("/" to "/docs")"
~Make the homepage more "Redwoody"~

Accessing "/" defaults to a homepage splash, mostly still the docusuarus defaults.

We don't really need a homepage for now as we just have tutorial content. Let's set a up a soft redirect from "/" to "/docs"

![image](https://user-images.githubusercontent.com/9841162/103693253-da641400-4f4d-11eb-880a-e2cd49abf72b.png)

[2021-01-05 21:37] cannikin commented on #5
Could always follow the latest design trend and just Make It Look Like Stripe.com!

[2021-01-05 21:41] cannikin commented on #5
BTW the reds I ended up using at the default Tailwind "breakpoints":

[code]

![image](https://user-images.githubusercontent.com/300/103702433-84966880-4f5b-11eb-88cb-c60893313a34.png)

[2021-01-05 21:43] cannikin commented on #5
If the only thing it has right now is the tutorial, maybe it should just jump to the Welcome page? And then when we start moving more docs there we'll come up with a homepage that has some road signs to get you where you want to go.

This way it becomes future-us problems and now-us get to relax. I'm sure we won't regret that. 😬

[2021-01-05 22:48] clairefro commented on #5
Sounds good to me, gonna redact the issue

[2021-01-06 04:26] clairefro opened #6 "Remove Docusaurus example documents, make Tutorial the default section"
1. Remove the sections **"Docusaurus"** and **"Features"** that came with Docusaurus by default.
- Remove from sidebar (`sidebar.js`)
- Remove the docs (all .md files in `docs` outside the `tutorial` dir)
- Remove "Style guide" and "Second Doc" links from footer (replace with tutorial?)
2. Make **"Tutorial"** the default section that is open when you visit `learn.redwood.com/docs`.

This may be tr

[2021-01-06 04:35] clairefro opened #7 ""Redwoodify" the color scheme and markdown style"
The current theme colors are the default teal from Docusaurus.
- Let's make theme colors more "Redwoody" (see below)
- Spruce (lol) up some of the drab markdown (default bland Quote block styling comes to mind)

See the [.com docs](https://redwoodjs.com/tutorial/welcome-to-redwood) for general look + feel reference (doesn't have to be a clone).

P.S. Rob revealed some not-so-secrets about the offi

[2021-01-06 04:38] cannikin commented on #6
Is there a way to keep whatever the equivalent of the homepage is (a route?) do a redirect to `/docs/tutorial/welcome-to-redwood`? That way the nav just keeps doing whatever it would normally do.

[2021-01-06 04:42] clairefro opened #8 "Finish porting French translations to Crowdin"
@Thieffen translated the tutorial into French over [here](https://github.com/Thieffen/fr.redwoodjs.com)

I started moving these translations into our localization management system Crowdin.
https://github.com/redwoodjs/learn.redwoodjs.com/tree/master/to-upload

This is blocked until I confirm with Thieffen whether he wants to do this himself so he can get credit for his translations in the repo.

[2021-01-06 04:45] clairefro opened #9 "Document the translation workflow"
Add a Readme section for showing translators how to get involved with the translation process in Crowdin

[2021-01-06 04:48] clairefro commented on #6
That would work. It would also be nice to have the tutorial automatically open when navigating to `../docs` directly from outside

See what's happening here:
https://learn-redwood.netlify.app/docs/

[2021-01-06 05:02] clairefro opened #10 "Add Algolia search bar?"
The award-winning tutorial is ~18,000 words long. Should we help users find stuff quickly by adding a search bar?

How to add search bar in Docusaurus: https://v2.docusaurus.io/docs/search

Obstacles:
1. How to approach i18n?
2. Who owns API key?

[2021-01-06 05:02] cannikin commented on #6
I guess there's the homepage and then everything else starts under /docs? Hmmmmmmmmm You'd think they'd have some way to specify a different starting page rather than forcing you to go to a /docs index page...

[2021-01-06 05:27] clairefro commented on #6
There is nothing stopping us from redirecting `/docs` -> `/docs/tutorial/welcome-to-redwood`

It's like redirect leap-frog for those hitting the homepage :)

[2021-01-06 12:21] Thieffen commented on #8
Ciao @clairefro!
Don't worry you can unblock and proceed with Crowdin.
It's perfectly fine if I do not get any credit for the translation.
I'm quite busy in these days, but I'll try to contribute.

PS: Happy new year ;)

[2021-01-06 17:51] cannikin commented on #10
Definitely. I'm using Algolia now for the search on the main site so I can just make a new API key! I'll get it to you on Slack.

Can this [Contextual Search](https://v2.docusaurus.io/docs/search/#contextual-search) work with the locale instead of a version? If it just works on the URL path then maybe the locale would have to come *after* `/docs/` since that's where the version normally goes? Or,

[2021-01-06 22:24] mbush92 commented on #5
I opened PR #11  that uses the Docusaurus `Redirect` component from Docusaurus router to redirect the user from the home page to the `/docs` page.  Since the discussion was that the home page would be worried about in the future I went ahead and removed any content that was not needed from the home page component.

[2021-01-09 17:08] #7 closed

[2021-01-09 18:55] mbush92 commented on #5
@clairefro Can we close this issue now?

[2021-01-09 22:17] clairefro commented on #5
Resolved by #11

[2021-01-09 22:17] #5 closed

[2021-01-10 04:01] mbush92 commented on #6
I think I have this working, I have the website redirecting to the `Welcome to Redwood` tutorial whether it is accessed at the root URL, the Docs link in the nav bar or from Tutorials in the footer.  I have also removed the default docs and removed the two sections from the side bar.

There is definitely some weird behavior with the side bar, spent quite a while on the sidebar documentation page a

[2021-01-11 01:48] clairefro commented on #6
Resolved by #13

[2021-01-11 01:48] #6 closed

[2021-01-11 01:49] clairefro commented on #6
Thank you for figuring this out - I was stumped on it for a while!

I just found a solution for the redirects from `/docs` and `/docs/tutorial` and will open another PR

[2021-01-11 03:13] clairefro opened #17 "Add prettier config for global format uniformity"
Add a prettier config file with generally acceptable formats. Should tackle:

- indentation (2 spaces?)
- yes to semi-colons
- anything else you feel is important

[2021-01-11 05:25] clairefro commented on #8
Yo @Thieffen  :)

I ported your translations to Crowdin.
https://crowdin.com/project/learn-redwoodjs/fr#

A couple are showing as 'incomplete', but it might be a bug in the upload system.

If you have a moment could you take a look at the < 100% ones and tell me if you see a pattern?
- is it from source doc change?
- is it a bug from Crowdin?

(Untranslated content has a light yellow highlight beh

[2021-01-11 05:26] clairefro commented on #8
P.S. your hard work is starting to show up on the prototype site for the translations at 100% above!
https://learn-redwood.netlify.app/fr/

[2021-01-11 18:27] mbush92 commented on #17
Opened PR #23 to address

[2021-01-11 20:51] Thieffen commented on #8
Hello @clairefro !

I went to Crowdin and started to add some more translation.
It looks like a very nice tool, pretty intuitive.
I will try to complete and reach 100% by the end of the week.

Ciao ;)

[2021-01-11 21:22] Thieffen opened #24 "Dark mode makes it difficult to read highlighted words"
At least this is the case on my screen...
Anybody with a well calibrated screen (Apple devices?) to confirm ?

![image](https://user-images.githubusercontent.com/847877/104239745-4b7a5e80-545b-11eb-88c6-8c4152fa3a96.png)

[2021-01-11 22:44] cannikin commented on #24
Can confirm! Lemmie see if I can invent some CSS here...

[2021-01-13 11:27] Thieffen commented on #8
Done.

![image](https://user-images.githubusercontent.com/847877/104446409-b2eaf800-559a-11eb-8676-a0cda6981517.png)

[2021-01-13 21:29] #24 closed

[2021-01-13 21:30] Thieffen commented on #24
Thanks!

[2021-01-14 06:07] clairefro commented on #8
Merci beaucoup!

Check it out, your translations are live in staging :)

https://deploy-preview-26--learn-redwood.netlify.app/fr/

(There may be a couple tiny bugs here and there from Crowdin)

[2021-01-14 19:23] Thieffen opened #27 "incorrect deployment URL in the README"
https://learn-redwood.netlify.app/docs/ leads to a 404 not found error

[2021-01-14 19:24] Thieffen opened #28 "incorrect deployment URL in the README"
https://learn-redwood.netlify.app/docs/ leads to a 404 not found error

[2021-01-14 19:24] #28 closed

[2021-01-14 19:44] #27 closed

[2021-01-17 23:38] #8 closed

[2021-01-17 23:38] clairefro commented on #8
Resolved by Crowdin uploads

[2021-01-17 23:40] clairefro commented on #17
Resolved by #23  , thanks @mbush92 !

[2021-01-17 23:40] #17 closed

[2021-01-18 18:12] cannikin commented on #10
Okay I signed up at https://docsearch.algolia.com/apply/ and they'll supposedly send us the code to integrate soon. Maybe it'll handle the translated docs automatically? 😬

[2021-01-21 16:07] cannikin commented on #10
Check it! Want to do the honors?

[code]

[2021-01-22 00:28] cannikin commented on #10
You snooze, you lose! Now I get all the glory. 😛

[2021-01-22 03:33] #10 closed

[2021-01-22 03:45] clairefro opened #31 "Change footer colors to be more accessible"
Our page has lovely theming now thanks to Rob but I noticed our footer is somewhat hard to read in light mode.

There is not enough contrast between the dark gray bg and dark red text.

The dark red text is similarly hard to read on dark red bg in dark mode

Light mode
![image](https://user-images.githubusercontent.com/9841162/105443507-bb89a100-5c20-11eb-86fb-c704b032c6ca.png)

Dark mode
![image]

[2021-01-22 04:10] clairefro opened #32 "Our first tiny UI translation! The footer"
There are two types of content we must translate: markdown docs and UI strings.

We've already gotten started with markdown translation flow, but haven't tried any UI strings yet (= strings NOT in markdown, like in navbar, sidebar, footer, etc)

There is a how-to in the [unreleased i18n docs](https://deploy-preview-4014--docusaurus-2.netlify.app/classic/docs/next/i18n/introduction/#translation-fil

[2021-01-22 05:36] ShrillShrestha commented on #32
Hi, I am a beginner and I would like to contribute to this issue. Can you guide me solve this? Right now, I am looking over the [unreleased i18n docs](https://deploy-preview-4014--docusaurus-2.netlify.app/classic/docs/next/i18n/introduction/#translation-files).

[2021-01-22 05:57] ShrillShrestha commented on #31
Can you guide me to the file that needs changing to achieve the solution? I am trying to learn open-source, so, please forgive my novice question.

[2021-01-22 07:28] clairefro commented on #31
Hi @ShrillShrestha ! Thanks for reaching out

I am putting this issue on hold temporarily as it appears some bug is making `master` branch appear different in production vs. development.

But to answer your question, this is a style issue so as a hint you would be looking for a `.css` file ;). You would be able to find which css selectors to target by using your browser inspector tool and clicking

[2021-01-22 07:30] clairefro commented on #32
Thanks for stepping up! Feel free to ask questions once you've had a look at the docs

[2021-01-22 11:42] rijusougata13 commented on #31
is it still a issue or the issue solved? if the issue still exist assign me

[2021-01-22 13:49] ShrillShrestha commented on #32
@clairefro thanks for the reply. I couldn't reply early because it's just morning here. I will start working on it now.

[2021-01-22 18:03] clairefro commented on #31
Resolved by #37

[2021-01-22 18:03] #31 closed

[2021-01-22 19:01] M0nica opened #38 "a11y: low contrast for `span.token.comment` in code blocks"
I noticed on the site that the contrast value for `span.token.comment` is currently too low (in both light and dark mode) to be accessible as it is 1.64. Generally the minimum contrast level to be accessible is 4.5:1 for AA or 3:1 for large text.

I was able to encounter this issue by going to https://learn-redwood.netlify.app/docs/tutorial/cells and viewing the code example that contains `// web/

[2021-01-22 19:07] M0nica opened #39 "a11y: low contrast for some text in nav and footer"
Similar to https://github.com/redwoodjs/learn.redwoodjs.com/issues/38 I noticed on the site that the contrast value for certain text in the footer and navigation is currently too low to be accessible. Generally the minimum contrast level to be accessible is 4.5:1 for AA or 3:1 for large text.

Screenshots below:

![Screen Shot 2021-01-22 at 2 05 10 PM](https://user-images.githubusercontent.com/699

[2021-01-22 19:28] M0nica commented on #39
@cannikin it would be helpful to get your input on making the color schemes more accessible as my understanding is you worked on the initial color schemes.

[2021-01-22 19:40] cannikin commented on #39
Yep I'll take a look at these, thanks for pointing them out!

[2021-01-22 21:41] cannikin commented on #38
I had some additional code block changes (including a darker background) but those styles aren't showing in certain environments! So strange, but I can't comprehend all the combined processes that are in place to make CSS in the modern JS world. :(

I'll see what I can do!

[2021-01-24 02:07] ShrillShrestha commented on #32
@clairefro, can you review my PR and give me some feedback if I need to change anything?

[2021-01-24 19:40] clairefro opened #40 "Production styling differs from development styling"
Some of our custom styles have been appearing differently in production vs development, such as font size, code block colors, footer colors, etc.

It may have to do with how Docusaurus is using webpack for production build - `custom.css` appears not to be the "last word" when it comes to styling. A workaround is to use `!important` for our custom styles.

https://github.com/facebook/docusaurus/iss

[2021-01-24 19:41] clairefro commented on #32
Resolved by #36

[2021-01-24 19:41] #32 closed

[2021-01-24 19:46] clairefro commented on #40
https://github.com/facebook/docusaurus/issues/3879#issuecomment-738998359

A better solution is to use substring matching selectors for those long complicated classes with @docusaurus in them

[code]

[2021-01-24 21:52] clairefro commented on #40
Resolved by #41

[2021-01-24 21:52] #40 closed

[2021-01-24 21:54] clairefro commented on #38
^ I fixed the bug that was causing dev/prod style differences

However, it looks like we could still improve contrast of comments in code blocks

![image](https://user-images.githubusercontent.com/9841162/105644671-9af15f00-5e4b-11eb-9957-28711a7cf0e3.png)

[2021-01-25 00:45] M0nica commented on #38
@clairefro Great, I am glad the styling issue between dev and staging is sorted out now. I just opened a PR (https://github.com/redwoodjs/learn.redwoodjs.com/pull/42) to improve the contrast of comments in code blocks.

[2021-01-25 01:22] clairefro commented on #38
Resolved by #42

[2021-01-25 01:22] #38 closed

[2021-01-25 01:44] clairefro opened #43 "Update stale source tutorial docs"
The English tutorial content is current as of Nov 10, 2020...

We need to manually backfill the commits from .com made **on and after Nov 11, 2020** (starting with commit titled *auth.js*)

Here are the commits
https://github.com/redwoodjs/redwoodjs.com/commits/main?before=f78c0475ead96097b552c9fd3ba133401630f52c+35&branch=main&path%5B%5D=TUTORIAL.md

Unfortunately this is not so simple as git dif

[2021-01-25 03:59] cannikin commented on #43
Hmmm, could you just copy/paste each entire section over top of the one in the learn repo? Just bulk over-write everything in each section of the learn repo with that same section from .com `main` and commit? Git'll figure out what's *actually* different and the commit will only reflect the few typo updates and such. We could do each section as a separate commit or just do them all in one commit.

[2021-01-25 05:03] clairefro commented on #43
Unfortunately not so simple...

While the added frontmatter would be easy to duck beneath paste under, I had to do a lot of manual tweaking of unclosed html tags (breaks react mdx builds), manually tweak all the code line highlighting to a different syntax, and change relative links as to not break when building other locales.

Maybe i could make a script to automatically do all of that parsing th

[2021-01-25 07:10] cannikin commented on #43
Sounds like a job for Regex!

![](https://imgs.xkcd.com/comics/regular_expressions.png)

[2021-01-25 21:19] cannikin opened #46 "Rename master -> main"
This should be a pretty simple change on GitHub's end, and then just need to let Netlify know to build a different default branch.

[2021-01-25 21:19] cannikin commented on #46
I can take this one @clairefro unless you want to experience more devops fun!

[2021-01-26 02:22] mbush92 commented on #43
@clairefro is there any plan to move the tutorials to this site and off the main redwoodJS site?  If not, this will possibly become a recurring theme.  I know I just had a PR merged this morning updating docs on the main site.  I could see all of those sections moving to here eventually so that they can all be translated.

I should have some time this week and could start working on this.

[2021-01-26 15:24] clairefro commented on #46
i do love me some devops :) Do you mind if i take this one on? I'd like to sync Crowdin's config at the same time

[2021-01-26 15:29] clairefro commented on #43
^ But it's as simple as having Perl man swoop in and save the day!

That was the plan at one point (with links from .com to the tutorial on learn.redowood.com). Now Tutorial part 2 is up on .com . Maybe once part 2 is ported over (translation can be "Coming soon!"). I need to talk to Rob about this

[2021-01-26 16:31] mbush92 commented on #43
Ok, let me know, I can port over Tutorial 2 in the same way we did Tutorial 1.  I won't do anything though until I get the green light....especially if Perl Man is going to swoop in to save the day.

[2021-01-26 17:31] cannikin commented on #46
Please do! I'm a whole-hearted believer in the programmer's maxim that "laziness is a virtue" so letting someone else do the work is the laziest and, therefore, most virtuous course of action. :)

[2021-01-27 03:40] clairefro commented on #43
^ I'm working on a script.... maybe humans won't need to do this

[2021-01-27 06:03] clairefro commented on #43
WIP: https://github.com/clairefro/pinecone

(it's node, not Perl 😞 )

Just need to add frontmatter now. If it works, I may be able to jig up a github action to automate this process every time an update is made to .com tutorial (until learn takes off)

[2021-01-27 14:57] mbush92 commented on #43
@clairefro that's awesome!  I suck at Regex, not something I have to use very often writing code for programming industrial robots.

So basically if I am reading the code correctly, it just reparses the entire file and replaces the existing files in the learn repo?  At least that is the intent as I read it.

[2021-01-27 15:22] clairefro commented on #43
Regex is a game!

Yes that's basically it - except instead of pushing the output to the learn repo it currently just outputs locally

![image](https://user-images.githubusercontent.com/9841162/106012521-5bf02300-6070-11eb-885e-bf01433ae5b5.png)

[2021-01-27 17:29] cannikin commented on #39
Addressing this in #45

[2021-01-27 17:47] cannikin commented on #43
Awesome script @clairefro!

[2021-01-29 04:39] #39 closed

[2021-02-02 17:05] TawfikYasser opened #47 "Tutorial page -> [Edit this page link]"
Hi

I think the `Edit this page` link doesn’t work in the Tutorial page -> [Welcome to Redwood ](https://learn-redwood.netlify.app/docs/tutorial/welcome-to-redwood)

And I think also all `Edit this page` link in all the tutorial doesn’t work. 👇

![Img-1](https://user-images.githubusercontent.com/54971231/106634543-8b2ef480-6588-11eb-96f6-0ba0ab110dce.png)

When clicking on it, It displays `Not fou

[2021-02-04 20:58] thedavidprice commented on #47
Looping in @clairefro

@TawfikYasser recently worked with me to update Redwood Docs -- a first contribution to Redwood repos! Could you take a look here and confirm 1) the redirect is not using the correct domain and 2) what the redirect needs to do (regardless of domain)? This might be sorted once deployed and/or might be a bug with Docusaurus v2. If it's something we can fix on our end, Claire,

[2021-02-04 21:13] TawfikYasser commented on #47
Thanks @thedavidprice , I will do my best
I am waiting for @clairefro :)

[2021-02-07 21:08] clairefro commented on #46
`master` is now `main`

For those needing to update their local :

[code]

[2021-02-07 21:08] #46 closed

[2021-02-07 21:21] clairefro commented on #47
Hi @TawfikYasser ! This is indeed a bug.

It appears that this is set in the `docusaurus.config` file under `presets > docs > editUrl`

Looks like it may need to be changed from
`https://github.com/redwoodjs/learn.redwoodjs.com/`
to
`https://github.com/redwoodjs/learn.redwoodjs.com/blob/main/`

I'm not sure how to ensure people do not commit directly to `main` when they make edits. Hopefully the b

[2021-02-07 21:23] TawfikYasser commented on #47
I’m really sorry @clairefro for that.

[2021-02-07 21:24] TawfikYasser commented on #47
I will work on a separate branch next time, I promise you. Sorry

[2021-02-07 21:26] TawfikYasser commented on #47
Please explain to me how to fix the issue, Because I don’t understand what you said :

Looks like it may need to be changed from
https://github.com/redwoodjs/learn.redwoodjs.com/
to
https://github.com/redwoodjs/learn.redwoodjs.com/blob/main/

[2021-02-07 21:33] TawfikYasser commented on #47
@clairefro Do you mean this [line](https://github.com/redwoodjs/learn.redwoodjs.com/blob/main/docusaurus.config.js#L114) ?

[2021-02-07 21:47] clairefro commented on #47
Exactly! That base url should change to one that actually works on Github.
It seems that adding `/blob/main/` might work -could you try that out?

I'm not sure what you're apologizing for! No worries, and thank you for taking this on! :)

[2021-02-07 21:52] TawfikYasser commented on #47
Okay @clairefro
I am apologizing about working in the main branch -> If you talking about me 😅
I will try to edit the link now
Thanks and sorry for any misunderstandings

[2021-02-07 22:00] TawfikYasser commented on #47
PR opened #50 @clairefro

[2021-02-07 22:09] clairefro commented on #47
Resolved by #50

Thank you!

[2021-02-07 22:09] #47 closed

[2021-02-07 22:10] TawfikYasser commented on #47
Great chance for me :)

[2021-02-07 23:57] clairefro commented on #43
I was able to complete the [pinecone](https://github.com/clairefro/pinecone) tool for our needs and update this repos English docs.

It is now easy to manually sync using the tool. I am investigating now how to make this a github action... but it's complicated when it is cross-repo so don't hold your breath

[2021-02-08 04:25] TawfikYasser opened #52 "Fix: authentication link"
Hi

I think authentication link in the following path `/docs/tutorial/administration.md` [future step](https://github.com/redwoodjs/learn.redwoodjs.com/blob/main/docs/tutorial/authentication) needs to be updated to [this](https://github.com/redwoodjs/learn.redwoodjs.com/blob/main/docs/tutorial/authentication.md)

---

Because it open a `404` page: 👇

![i1](https://user-images.githubusercontent.com

[2021-02-08 15:16] clairefro commented on #52
Hi @TawfikYasser !

The link works in the website where the content is intended to be viewed. It is a relative link without the extension, which is why it's not working in Github.

You can test it out here:
https://learn-redwood.netlify.app/docs/tutorial/administration

[2021-02-08 15:18] clairefro commented on #52
Oops, I am reopening this as it does appear to be broken when I opened it in a new tab.

[2021-02-08 15:21] TawfikYasser commented on #52
Okay @clairefro

[2021-02-11 21:29] cannikin opened #53 "Tutorial updates for 0.25"
@clairefro wanna run that pinecone against the tutorial again?? Just pushed a bunch of changes for the 0.25 release which has a bunch of new prisma commands. It also rearranges the last two steps: Authentication comes before Deployment now. 😬 Is that going to cause problems?

[2021-02-11 21:30] cannikin opened #54 "Add Tutorial II"
Tutorial II should be pretty stable now, let's move to learn.redwoodjs.com!

[2021-02-12 02:48] clairefro commented on #54
Will look into this on weekend! weee

[2021-02-12 02:49] clairefro commented on #53
yessir, will do!

No problem at all, will just switch up the order in docusaurus sidebar

[2021-02-15 03:02] clairefro commented on #54
I've added Part II but hit a bit of a snag with getting the redirect from `/docs/tutorial2/` to send the user to the first doc in the section.

I will open an issue as I've been unable to finish it tonight

[2021-02-15 03:03] clairefro commented on #53
Resolved by #55

[2021-02-15 03:03] #53 closed

[2021-02-15 03:04] clairefro commented on #52
Resolved by #55 - this link no longer appears in the text

[2021-02-15 03:04] #52 closed

[2021-02-15 03:04] clairefro opened #57 "Redirect for tutorial part 2 not working"
PR #56 attempts to add tutorial part 2

I was unable to get a redirect working to take user from `/docs/tutorial2/` to the first article (`/docs/tutorial2/welcome-to-redwood-part-ii-redwoods-revenge`)

This needs to be done in such a way the redirects work in all locales
`/docs/tutorial2/` -> `/docs/tutorial2/welcome-to-redwood-part-ii-redwoods-revenge`
`/fr/docs/tutorial2/` -> `/fr/docs/tutorial2

[2021-02-15 03:07] clairefro opened #58 "Crowdin out of sync since renaming `master` to `main`"
I am in contact with Crowdin to figure out how to move our existing translations to our new base branch `main`

[2021-02-15 03:08] #43 closed

[2021-02-23 18:53] cannikin opened #59 "Algolia search not returning results when switching to French"
Creating this issue to track our progress around this!

### Current Behavior

When in the English locale all results are English pages. When in the French locale, *nothing* is returned, for english or french words.

### Algolia Config

I don't remember if I asked them to crawl all of `learn-redwood.netlify.app` or just `learn-redwood.netlify.app/en/docs`? In the dashboard that Algolia provides it

[2021-02-26 03:06] clairefro commented on #58
This issue is half resolved as I now have Crowdin synced to `main` from this repo. Needed to reapprove every translated string individually so I hope nothing strange happened..

![image](https://user-images.githubusercontent.com/9841162/109249305-4ddf1080-779c-11eb-920b-2541901f9b2b.png)

Next steps:

- test sync with repo for minor changes on `main`
- once confirmed sync is working, remove old `m

[2021-02-26 03:09] clairefro commented on #59
I checked Sebastien's PR #48 and confirmed that the locale sitemaps are actually located at a different URL!

EN: https://learn-redwood.netlify.app/sitemap.xml
FR: https://learn-redwood.netlify.app/fr/sitemap.xml

^ maybe we need to add the `/fr/` one to algolia so the crawlers know to look for it?

[2021-02-26 04:03] cannikin commented on #59
Ahhhhh interesting! So when I requested them to crawl the site I’m pretty sure I gave them just the homepage. I’m not sure how to give them additional URLs (or link them to another sitemap). Lemmie contact support and see if they’ll give me more info.

[2021-02-26 05:30] clairefro commented on #59
Thanks Rob!

[2021-02-26 18:36] cannikin commented on #59
Support ticket submitted!

However, I'm not clear on how/if the site will only returns results for the locale you're currently viewing, and not just all results across all pages. I'm sure Algolia has some way to facet results by only one thing, like locale, but from my experience that's a lot of manual setup and defining fields so you can only return some records and not others. Maybe Docusaurus 2

[2021-02-26 18:37] clairefro commented on #59
I share your curiosity!

"Let's see what happens"

[2021-03-01 14:58] clairefro commented on #59
you did some magic!
![image](https://user-images.githubusercontent.com/9841162/109515043-806a6100-7a5b-11eb-8cb3-8825497a8dd7.png)

[2021-03-01 14:58] #59 closed

[2021-03-01 17:59] cannikin commented on #59
Awesome! I haven't heard back from my support ticket yet, but I'll take all the credit!

[2021-03-02 03:42] cannikin commented on #59
They did end up responding!

[2021-03-06 23:39] #58 closed

[2021-03-06 23:40] clairefro commented on #57
resolved by #66

[2021-03-06 23:40] #57 closed

[2021-03-06 23:40] clairefro commented on #54
resolved by #66

[2021-03-06 23:40] #54 closed

[2021-03-06 23:42] clairefro commented on #9
We now have the [guide for translators](https://github.com/redwoodjs/learn.redwoodjs.com/blob/main/README_TRANSLATION_GUIDE.md) as a start

anyone who's been involved with translating is welcome to drop feedback!

[2021-03-11 02:29] adriatic opened #74 "Copy button in the Tutorial text adds the EOL to the content being copied"
This problem report has two parts - and everything below is a function of the terminal shell being used. In this report only PowerShell is being used

---

## Part 1

 A Picture tells this better:

![image](https://user-images.githubusercontent.com/2712405/110725145-0d908100-81e5-11eb-8557-6a0f786b3e30.png)

Here is the screenshot of pasting the text copied to VSCode internal terminal, running Pow

[2021-03-13 01:05] adriatic opened #73 "Typo in the BlogPostCell.js Success section code (Tutorial I)"
I do not have a Mac computer, so I can only create this issue (instead of a PR)

![image](https://user-images.githubusercontent.com/2712405/111013663-427c0f80-836e-11eb-81d1-fa7733b8077f.png)

and then the same problem below

![image](https://user-images.githubusercontent.com/2712405/111014156-6e989000-8370-11eb-96f4-13d19d8fdff6.png)

[2021-03-14 02:41] adriatic opened #77 "Missing the indicator for skipped code"
The missing lines are
[code]

![image](https://user-images.githubusercontent.com/2712405/111055368-344bf300-8443-11eb-9356-fc23caa052f9.png)

**Please note**: trying to make a PR instead I got stuck with the "triplet" following the javascript tag (see below)

|```javascript{3,15,16}
|// web/src/pages/ContactPage/ContactPage.js

(the '|" character inserted in col 1 to prevent this editor from inter

[2021-03-15 16:28] cannikin opened #75 "Add prerender to Tutorial part 1"
It's so awesome and everyone will want to use it, let's introduce it from the start! Before deploy and probably before Auth?

[2021-03-15 16:30] cannikin opened #76 "Tutorial: Update schema creation with native DB types"
Now that Prisma supports proper DB types we should update the tutorial to use TEXT for post body and contact message body.

[2021-03-15 16:42] adriatic commented on #73
I am taking your response as "I will take care of this on a new location)

[2021-03-21 00:59] eiffel205566 opened #81 "Could we please update reference to "Flash/useFlash" on "Saving Data" section of tutorial?"
Hello Awesome redwood team,

Could you please update the reference to "Flash/useFlash" under "Saving Data" section of redwood tutorial as it will be replaced by Toaster and toast? Hope this will help newbies like me to avoid using the old hook.

Thank you,
Sean

[2021-03-21 04:14] cannikin commented on #81
This issue just blew my mind—I didn't remember showing the Flash in the tutorial at all! I'll update it on Monday, thanks for noticing!

[2021-03-21 14:37] adriatic opened #82 "Incomplete information in Generators section of the quick-start document"
The [Generators section](https://redwoodjs.com/docs/quick-start#generators) shows the default UserExample model

![image](https://user-images.githubusercontent.com/2712405/111908716-9c489d80-8a30-11eb-96e3-ea54da4b0865.png)

This visual suggests that the `UserExample` model is the only content in the file `api/db/schema.prisma` - when the complete content is this

![image](https://user-images.gith

[2021-03-21 16:48] clairefro commented on #82
Hi @adriatic ! Can you please make a pull request to clarify your suggestion? Thanks for your vigilance towards tutorial integrity

[2021-03-21 17:12] adriatic commented on #82
I would have done it, the first time if I only knew the answer to two questions that I asked before:

1.  What is the meaning of the sub-string `{3, 7-19}` in the string ````javascript {3,7-19}`

![image](https://user-images.githubusercontent.com/2712405/111913952-7928e880-8a46-11eb-9308-98c4212ebbe0.png)

2. What is the repository to create the PR against (I am aware of the transition towards. Th

[2021-03-21 18:48] cannikin commented on #82
I specifically say "...comes with a default Model called UserExample..." which is meant to get you to focus on that specific piece of code, rather than worry about the entire file. I don't want to get people bogged down in worrying about the datasource or client since that isn't really pertinent to understanding how the schema works or what a model is.  I'm careful to get people to laser focus on

[2021-03-21 18:49] cannikin commented on #82
That syntax tells the code highlighter which lines to highlight in the code snippet

This one, learn.redwoodjs.com. On each tutorial page there's an "Edit this page" link at the bottom that'll take you right to the file in Github for easy finding!

[2021-03-21 19:23] adriatic commented on #82
Thanks for "jumping in" Rob. The solution you proposed

is perfectly fine - even for a person with limited abilities to avoid traps like me.

I may have stated this already: **I am creating such issue reports not to harp on your ability to write technical documentation, but rather on your _potential_ inability to understand what all could be a problem for an RWJS novice**.

Hopefully, my level of

[2021-03-21 19:31] adriatic commented on #82
Thanks, I do know that - my question is based on my observation the complete content of the [Docs](https://redwoodjs.com/docs)  has not been moved to learn.redwoodjs.com - my original [issue above](https://github.com/redwoodjs/learn.redwoodjs.com/issues/82#issue-837095247) describes the document that still lives in https://redwoodjs.com/docs/quick-start.

So, should reporting such issue be postpon

[2021-03-21 20:07] clairefro commented on #82
This is understandably confusing as we transition.

For now, any suggested changes to content should be PRed to these repos respectively based on content:

[code]

We are working on clarifying this

[2021-03-21 23:26] adriatic commented on #82
Thank you @clairefro for the explanation 😄

[2021-03-21 23:52] adriatic commented on #82
@clairefro wrote

@clairefro, I love your description of my obsession. It  (my obsession) comes from a lot of bad experiences with incomplete/inaccurate/unclear technical documentation, most being the consequence that people who write the document use the style then best suits the developers who wrote the product being described. In most of such cases, I was the person in charge of software develo

[2021-03-22 00:07] adriatic opened #83 "The explanation "Undoing a Generator with a Destroyer""
The paragraph

should be prominently mentioned in both [Our First Page](https://learn.redwoodjs.com/docs/tutorial/our-first-page) tutorial section and  [Quick Start](https://redwoodjs.com/docs/quick-start) section. The absence of such an explanation cost me a lot of lost time.

My advice here is based on my firm belief that the success to became a great company depends on the documentation clarity

[2021-03-22 04:49] eiffel205566 commented on #81
Thanks for the quick response! Happy that I was able to contribute!

[2021-03-22 13:31] adriatic commented on #83
I did not create a PR for this because I am not sure that @cannikin will agree with my proposal above.

[2021-03-22 16:06] cannikin commented on #83
We give the exact commands to run during the tutorial and (as far as I know) they're all correct, so if following along you shouldn't ever need the destroy command. If we tried to anticipate everything that could possibly go wrong we'd never get through it!

Did you have an issue during the tutorial or later on in your own project? If you make a typo in the name of the model you're trying to creat

[2021-03-22 16:10] cannikin commented on #82
Closing since this was handled in https://github.com/redwoodjs/redwoodjs.com/pull/639

[2021-03-22 16:10] #82 closed

[2021-03-22 16:39] cannikin commented on #81
Unclose! Gonna use this to track when it gets fixed. :)

[2021-03-22 21:14] adriatic commented on #83
Thanks for your explanation, @cannikin. While I found the need to go back while typing in the code and instructions from Tutorial 1 (always for the same reason - forgetting to do something in the previous tutorial section), I initially took the dumbest approach and simply started the Tutorial from scratch, When I got bored with such approach. I started to use GitHub as a "undo manager", by making

[2021-03-23 15:06] jacebenson opened #85 "Netlify Authentication Discussion - Auth Token update"
I ran through the tutorial from beginning to deployment the other day and noted that the [Auth Docs bit](https://learn.redwoodjs.com/docs/tutorial/authentication#accepting-invites) token needs an update.
) doesn't line up with the content form the invite email.  Netlify no longer emails a link ending in #invite_token, instead it's a link like this;

`https://mandrillapp.com/track/click/31128206/st

[2021-03-23 15:31] jacebenson commented on #85
Looking furhter at the email source I can see the original link for the content-type: text/plain

[code]

[2021-03-23 15:36] cannikin commented on #85
Did you try clicking the link in the email? That should open the browser, follow the crazy mandrillapp.com link, then redirect to the “plain” URL where you can just copy the invite token from the address bar.

That’s what we tell people to do in the tutorial itself, were you trying to cheat? ;)

[2021-03-23 16:11] jacebenson commented on #85
I misread the first thing to do.  *Go find that and click the **accept the invite** link*
I must have thought it said "find that and copy that link"

[2021-03-23 16:11] #85 closed

[2021-03-24 22:32] #81 closed

[2021-03-24 23:05] #83 closed

[2021-03-25 01:47] clairefro commented on #73
Hi @adriatic - all the issues from /com repo related to the tutorial were moved to the learn repo

It is difficult to discern the context of the issue above - can you please make a pull request in the document you wish to suggest changes too with an explanation?

[2021-03-25 01:47] #9 closed

[2021-03-25 01:54] clairefro commented on #74
@adriatic I was unable to quickly locate this command in the tutorial to fix it, but I see how the EOL problem is annoying.

Our docs are open source and we very much welcome pull requests. If you know the location of the command in the docs with the EOL error, you can help save other's from the same fate by making a PR!

[2021-03-25 02:05] adriatic commented on #73
Hi @clairefro
This typo is fixed and published (see Rob's statement (cannikin transferred this issue from redwoodjs/redwoodjs.com 9 days ago).  I will close this issue now

[2021-03-25 02:05] #73 closed

[2021-03-25 02:08] adriatic commented on #74
HI @clairefro - again, Rob took care of this in the process of moving this issue from redwoodjs/redwoodjs.com 9 days ago. I verified that this works now as is was meant to 😄

[2021-03-25 02:08] #74 closed

[2021-03-30 02:19] adriatic opened #89 "BlogPostsCell.js generated with the wrong Query"
This happens in the **[Cell section](https://learn.redwoodjs.com/docs/tutorial/cells)**

![image](https://user-images.githubusercontent.com/2712405/112923463-59479380-90dc-11eb-8d43-cae9ab522c3f.png)

I am surprised to still find value in repeating the whole Tutorial chapter (motive is really to develop the "muscle memory)

[2021-03-30 03:41] clairefro commented on #89
Hi @adriatic - are you meaning to indicate an error in the tutorial?

If so, we welcome pull requests!

[2021-03-30 12:52] adriatic commented on #89
Hi, Claire

This is not the first time to be reminded that you welcome PRs 😄 I think that I am a bit spoiled, having the belief that finding and reporting problems is already enough  - but I often forget that Redwood is a tiny startup, where most of the work is done by volunteers. So, as I recalled that fact, the PR will soon follow.

Regards

Nik

[2021-03-30 13:52] clairefro commented on #89
PRs help convey the exact suggested change and make it simple to test and approve the suggestion if appropriate, making it more likely the change will be adopted.

Issues are another way of gathering community input, but for small changes like wording, it is almost always more efficient for both the requester and the maintainer to communicate via PRs.

For example, you have kindly taken the time t

[2021-03-30 16:54] cannikin commented on #89
This is not a bug—the generator names the query the same as the cell, on purpose.

In this case, the name of the cell `BlogPosts` doesn't match the name of the model that's being queried (`Post`) and so in the next step of the tutorial we have you update that query with the proper name. This is on purpose because it could be a fairly common case, where your cell name doesn't match your model name

[2021-03-30 17:32] adriatic commented on #89
I made my judgment hastily, for not a good reason, creating a great impression of  dummy 😢. It was the error message from GraphQL that triggered my report creation. While I perfectly remembered avan than that the blogPosts name would have to be renamed to posts, seeing the error from GraphQL made me believe that something is different in this last release.

Repetitio est mater studiorum  is the pr

[2021-04-09 06:37] thedavidprice opened #95 ""Deployment" section is incomplete and dead-end: cannot deploy as-is"
It's a Catch 22 — we need to delete migrations/, change provider to postgres, and then create a new migration. However, we need to set the local DB connection env var DATABASE_URL to a functional postgres instance, which would mean setting up a local postgres. I think I found a hacky way to do it.

### If the reader has postgres installed locally, use that
For people who know what they're doing, t

[2021-04-09 11:31] ehowey commented on #95
FWIW - I was expecting it to break locally when I switched to the Railway in the tutorial, but just wanted to see it work in a live environment.  I knew I would have to do some extra setup work to get it working locally again because of the warning you have in there. But I was confused when it didn't deploy after I followed the steps outlined to switch to postgres.

[2021-04-09 15:17] cannikin commented on #95
If you do `—create-only` do you even need a real database running somewhere, or does Prisma just pull the *provider* part out of the `DATABASE_URL` string so it know which syntax to use? Meaning, could we have everyone just put something like `postgres://localhost/test` in there, even if they don’t have it running locally, put it’ll give prisma enough to create the migrations?

[2021-04-09 16:11] mikebobadilla commented on #95
Looks like it needs a db running

[code]

[code]

[2021-04-09 16:28] cannikin commented on #95
Hmmm so the flag named "create-only" seems to be misleading. 😐

[2021-04-09 21:35] thedavidprice commented on #95
Check this --> I went through this with some folks from Prisma this morning and we currently think it's actually that Railway might _not_ require setting up a separate hosted DB as a shadow database. Ran through the flow a few times again and it's working.

TBD

[2021-04-16 17:21] pdjota opened #97 "New Spanish Translator"
Hello @clairefro I would like to help with the translation. I did use Crowdin back 5 years ago with the OWASP when we were doing the translation of OWASP ASVS. I also did some translations of learnyounode workshops.
I'm a native Spanish speaker, currently working in London, used to co-organise JSConf.uy in Uruguay.
Regards

[2021-04-26 18:36] mlabate opened #102 "Italian translation"
Hello,
@clairefro I wish to contribute to translate Redwood tutorials to Italian.
Is it possible?

[2021-04-27 02:42] clairefro commented on #102
Hi! Thanks for volunteering :) I have added Italian to our Crowdin repo

https://crowdin.com/project/learn-redwoodjs

Are you a native or near native Italian speaker? If so, go ahead and request access to the above repo and I'll help you get started

[2021-04-28 02:58] clairefro commented on #97
Hi @pdjota ! Apologies for my delay in replying

Feel free to dive in be asking for approval in Crowdin to join the project - I will approve you ASAP
https://crowdin.com/project/learn-redwoodjs/es-ES#

Here is a translation guide to help you get started
https://github.com/redwoodjs/learn.redwoodjs.com/blob/main/README_TRANSLATION_GUIDE.md

If you have any wuestions feel free to reach out in Discor

[2021-04-28 02:59] #97 closed

[2021-04-28 03:01] clairefro commented on #102
Here are the links to the translation guide to get started
https://github.com/redwoodjs/learn.redwoodjs.com/blob/main/README_TRANSLATION_GUIDE.md

I will approve your request to enter the Crowdin repo if you visit the link in previous comment.

Feel free to reach out in [discord](https://discord.gg/jjSYEQd) translation channels if you have any questions about translation

[2021-04-28 20:45] mlabate commented on #102
Hello Claire,
yes I'm a native Italian speaker.
I've just sent my request to join Crowdin repo. :smile:
Thank you

[2021-04-29 01:14] clairefro commented on #102
You're in! Welcome :)

[2021-04-29 01:14] #102 closed

[2021-05-30 19:38] clairefro commented on #77
Closing as the suggested code has been omitted for brevity

[2021-05-30 19:38] #77 closed

[2021-06-08 16:18] cannikin commented on #95
I want to update the deployment section to use render.com—SQLite from beginning to end! I'm thinking once [dbAuth](https://github.com/redwoodjs/redwood/pull/2701) merges I can update the Authentication section at the same time, greatly simplifying the last 1/4 or so of the tutorial. Just in time for 1.0 and re-recording my videos!

[2021-06-08 23:48] thedavidprice commented on #95
OH, super interesting ideas, RC. If you move in that direction, let's talk to Render about 2 items:
- improving their support for SQLite --> I've noticed on re-deployment that my DB connection fails. I have to manually re-trigger to get it working again.
- Render currently only offers a 7-day free trial --> do you think this is adequate for the Tutorial (including part 2?) and/or should we see if

[2021-06-08 23:53] cannikin commented on #95
That would be awesome if they'd give us more time! But really part 2 can happen all on your dev machine, there's nothing deploy-specific in that one.

But it *would* be nice if your site kept running and you could deploy your new comments engine...

[2021-06-13 01:19] ajcwebdev opened #121 "Inconsistent naming of `BlogLayout`/`BlogPostLayout`"
Part way through the tutorial we switch from `BlogLayout` to `BlogPostLayout` in the router.

### [Layouts](https://learn.redwoodjs.com/docs/tutorial/layouts)

[code]

### [Routing Params](https://learn.redwoodjs.com/docs/tutorial/routing-params)

Code sample says one while the text explanation says the other:

[code]

### [Web Authentication](https://learn.redwoodjs.com/docs/tutorial/authenticati

[2021-06-13 01:33] clairefro commented on #121
Blasphemy! @cannikin which name you like better? `BlogLayout` seems to be logical

[2021-06-13 02:07] cannikin commented on #121
Yeah should be `BlogLayout`, that other one may have snuck in when it got updated with the `<Set>`.

I like `BlogLayout` because it’s the layout for the whole blog, not just a single blog post.

[2021-06-13 02:13] clairefro commented on #121
I'll make a quickie PR

[2021-06-20 18:18] clairefro commented on #121
Resolved by #123

[2021-06-20 18:18] #121 closed

[2021-06-28 15:46] cannikin opened #127 "Update tutorial for dbAuth"
Once dbAuth is available we'll update the tutorial to use that instead of a third party provider

[2021-06-28 15:47] cannikin opened #128 "Update tutorial for deployment to render.com"
render.com supports using SQLite in production so we're going to use them for deployment instead of Netlify.

[2021-06-29 20:51] thedavidprice opened #129 "learn + discord integration test"
wordz

[2021-06-29 20:51] #129 closed

[2021-07-19 07:32] Albert-Gao opened #131 "Cannot find module '~__REDWOOD__USER_ROUTES_FOR_MOCK' from 'node_modules/@redwoodjs/testing/dist/MockProviders.js'"
Just a brand new project, everything works great, except for this little annoying issue, happens for all my tests

<img width="1286" alt="image" src="https://user-images.githubusercontent.com/18282328/126063679-170d9f62-ee2b-4182-b5dc-d51e2ca9a04c.png">

All the test files will have this error every 2 minutes or something, and if you click to open the file, the error is gone, then after a while, h

[2021-07-19 07:33] #131 closed

[2021-07-19 07:33] Albert-Gao commented on #131
Moved to https://github.com/redwoodjs/redwood/issues/3066

[2021-07-19 07:34] Albert-Gao commented on #127
It's already available :)

[2021-07-19 18:42] cannikin commented on #127
We're going to do a general revamp of the tutorial for v1.0, which will include dbAuth, of course!

[2021-08-17 20:25] derkanadier opened #138 "Native Italian Translator"
Hello @clairefro,

I am fluent in Italian (native), English and French.

I would like to contribute to the translation of the _RedwoodJS_ documentation (English --> Italian).

It would be my pleasure to participate in the growth of this community.

[2021-08-17 21:02] clairefro commented on #138
Hi @derkanadier ! We'd love your help. Check out our [translation guide](https://github.com/redwoodjs/learn.redwoodjs.com/blob/main/README_TRANSLATION_GUIDE.md), then head over to [Crowdin](https://crowdin.com/project/learn-redwoodjs) to request translator access in the respective languages.

[2021-08-17 21:02] #138 closed

[2021-08-19 09:53] stav opened #140 "RBAC documentation contains several dead links within tutorial"
On the RBAC page there are a few dead links due to improper absolute URL rendering by Docusaurus perhaps.

Example:

_"If you cloned the redwood-tutorial code from GitHub you'll need to create a Netlify site and deploy it, then [enable Netlify Identity](https://learn.redwoodjs.com/docs/tutorial2/tutorial/authentication#netlify-identity-setup) as described in the first part of the tutorial."_

Mark

[2021-09-02 16:24] cannikin opened #148 "Update Tutorial 2 for new scenario `data` attribute"
## Wait For Merge!

Needs https://github.com/redwoodjs/redwood/pull/3261 to be released before merging this!

@callingmedic911 did you want to update these as well?

[2021-09-02 16:57] callingmedic911 commented on #148
Oops! Missed this repo. I'll get it done by tomorrow. Does that work @cannikin?

[2021-09-02 16:58] cannikin commented on #148
No rush! We'll be releasing this with 0.37.0 so we've got a week or so. :)

[2021-09-21 18:59] cannikin opened #151 "Add Plausible Analytics"
@clairefro We want to add a really simple analytics package to the site, but I can't figure out where to put this `<script>` tag. 😕 This is much easier in CameronJS. 😉

[code]

[2021-09-21 23:54] clairefro commented on #151
Luckily it's as easy as adding a line to the config!
https://plausible.io/docs/docusaurus-integration

same with cameronjs? :)

[2021-09-21 23:55] clairefro commented on #151
(I'd make the PR for you, but maybe it's best someone with the analytics account can do a couple test clicks around the GitHub preview deploy and see if hits are recorded?

[2021-09-21 23:56] cannikin commented on #151
You just paste the actual HTML the way Dog intended!!!!!!!!!!!!!!!!!!!!!  😭

[2021-09-21 23:57] cannikin commented on #151
Thanks, BTW! I'll just push it live, the start showing data REAL quick and it's hard to mess up.

[2021-09-22 00:03] cannikin commented on #151
Hmm, just realized this probably won't work since Docusaurus doesn't make AN ACTUAL WEBSITEEEEEEEE  React ain't gonna count anything but the first page request. Grrrr

[2021-09-22 00:07] cannikin commented on #151
Cancel that, they thought of everything!

If you want access to the Plausible dashboard @clairefro gimmie your email and I'll invite you!

[2021-09-22 00:07] #151 closed

[2021-09-22 07:36] jderrough opened #152 "Coverage directory created in ./web"
With a fresh Redwood blog (`yarn create redwood-app ./redwoodblog`):
1. running `yarn rw test --coverage` creates the coverage directory in `./web`
2. running `yarn rw test api --coverage` or `yarn rw test web --coverage` creates the coverage directory in the project's root directory
3. running `yarn rw test --coverage --coverageDirectory=./coverage` is equivalent to (1)
4. as a workaround, runnin

[2021-09-22 07:37] #152 closed

[2021-09-22 07:37] jderrough commented on #152
Sorry, wrong repo.

[2021-10-01 06:53] #148 closed

[2021-12-10 13:24] snettah opened #172 "tutorial:authentication requireAuth without roles cause an error"
Hi,

I follow the tutorial wich is very well thank for your work redwood is awesome I will continue to use it for a long time

If we follow the tutorial we will have an error when we want to create a post at the Deployment section, because we don't pass the roles to `requireAuth`.

[code]

Wich will cause an error on the API

[code]

to avoid the problem I have to add an admin role to my user on N

[2021-12-10 20:43] clairefro commented on #172
Thanks for the feedback! @cannikin - does this prompt adding something to the tutorial?

[2021-12-10 21:56] cannikin commented on #172
I'm updating the tutorial to work with v1.0 right now and will hopefully be ready next week. I'll make sure to get this fix in there!

[2021-12-11 19:23] htunnicliff opened #174 "Suggestion: Use Tailwind's "space between" utility instead of negative margins"
In [_Tutorial II: Multiple Comments_](https://learn.redwoodjs.com/docs/tutorial2/multiple-comments), the following code sample is provided illustrating components that are spaced apart. The technique used does work, but since Tailwind CSS is being used as the styling solution, it might be helpful to take advantage of the [space between utility](https://tailwindcss.com/docs/space).

Here is the cod

[2021-12-13 20:32] snettah opened #175 "Comment model need "onDelete: Cascade""
https://learn.redwoodjs.com/docs/tutorial2/adding-comments-to-the-schema/#adding-the-comment-model

The relation with Post need `onDelete: Cascade` to work properly

[code]

[2021-12-13 22:07] clairefro commented on #174
Thanks! @cannikin - thoughts?

[2021-12-13 22:08] clairefro commented on #175
@cannikin

[2021-12-13 22:23] cannikin commented on #174
Huh...I've been using Tailwind for years and didn't even realize this existed! If you don't mind putting together a PR that'd be great. I could have sworn I had a little description text explaining why there's a negative margin there, but I can't find it now. But I'd want to see a sentence or two just explaining what that utility is doing since the whole purpose of this section is getting the layo

[2021-12-13 22:29] cannikin commented on #175
Hmm, let me think about this one. I'm not too thrilled with the idea of getting into descriptions of referential integrity in this tutorial, it's meant to be a pretty high-level overview of things, focusing on building and integrating components at this point. I assume that trying to delete a post is failing? I don't think we demonstrate doing that at this point (or later) in the tutorial, but I i

[2021-12-13 22:31] clairefro commented on #172
Dependent on #173

[2021-12-14 14:33] dthyresson commented on #172
Will the tutorial use directives instead?

[2021-12-14 14:40] snettah commented on #175
If we follow the tutorial we'll have this error https://github.com/redwoodjs/redwood/issues/3680#issue-1041413694

[2021-12-14 16:27] cannikin commented on #175
You get that when running the test suite? We've released a patch that should have fixed that issue. Or are you seeing this error somewhere else?

[2021-12-14 16:33] cannikin commented on #172
When we introduce auth and put the admin scaffolds behind login, I'll introduce `@requireAuth` and `@skipAuth` but I won't be doing a deep dive. I'll link to the full docs though.

[2021-12-14 20:20] snettah commented on #175
I don't know when have you release the patch, I've got this error yesterday when I run the tests suit

[2021-12-14 20:31] cannikin commented on #175
It’s been several versions ago…what does `yarn require info` output?

We haven’t had anyone else reporting this problem as far as I know so this is very unusual!

[2021-12-31 12:54] khabubuphathu opened #177 "Redwood file structure not up to date"
In the tutorial for Learn RedwoodJS, the file structure is not up to date with v0.41.0. I noticed the following issues:

1. Instead of two top level directories which are `api` and `web`, we now have three `api`,`web` and `scripts` which contains the seed script which is no longer in `api/db` directory.
2. The tutorial mentions that the `api/src/lib` contains only one file but it now contains thre

[2021-12-31 13:04] Tobbe commented on #177
We love contributions 😃

If you make a PR and tag me I can have a look

[2021-12-31 21:09] khabubuphathu commented on #177
#173 Covers the changes I mentioned above, So I think this issue can be closed? Thanks for point out a pr to bring the tutorial  in line with v1 exists

[2021-12-31 22:53] clairefro commented on #177
Thanks for looking into this, @khabubuphathu! Closing as issue being addressed

[2021-12-31 22:53] #177 closed

[2022-01-07 18:55] cannikin commented on #128
Running into out-of-memory errors with the initial deploy on Render. We've got a meeting with them on Dec 13 to discuss strategies. They seem interested in being our default deploy option in the tutorial, but the experience as-is is pretty rough. Sometimes you can get the deploy to go through on the next attempt, but not always. I had to bump to the Starter Plus plan ($15/month, 1GB RAM) in order

[2022-01-13 21:42] davidlcorbitt opened #180 "Tutorial II provides sample blog post body with extra spacing, BlogPost test fails by default"
Some of the amazing documentation on this project needs a slight update.  9 extra spaces in the body of the sample blog post in BlogPost's story and test files results in an individual summarized post displaying 9 characters fewer than it should.  I've included a screenshot of the troublesome space I'm referencing below.
<img width="807" alt="Screen Shot 2022-01-13 at 1 52 00 PM" src="https://user

[2022-01-14 19:31] davidlcorbitt commented on #180
Test works fine by default now!

[2022-01-15 01:49] davidlcorbitt commented on #180
Hey guys, I'm back.  I forgot to adjust the highlighted code block lines for the code blocks I modified in my previous [pull request](https://github.com/redwoodjs/learn.redwoodjs.com/pull/181), so I'm creating another pull request to correct this oversight.  In addition, I slightly refactored a related sample code block to display a little better, (and I did remember to adjust the highlighted code

[2022-01-15 12:02] berkerdemirer opened #183 "An Issue I spotted regarding Cells tutorial"
Hello,

It could be that I made a mistake but I just wanted to point it out anyway. While following the tutorial I encountered an issue with the Cell that I created for blog posts. Although I changed the query type to `posts` as suggested in the tutorial and as it is like that in the GraphQL schema, I am still getting an error like `Cannot query field "posts" on type "Query".GraphQL: Validation` a

[2022-01-18 22:49] davidlcorbitt commented on #175
I'm seeing the same problem.  The error happens when running the default 'returns all comments' test in `comments.test.js`.

Here's the exact text of the error:
[code]

Here's a screenshot of the test initially failing:
![Screen Shot 2022-01-18 at 3 27 28 PM](https://user-images.githubusercontent.com/41524992/150030010-88bbd1ec-b6f4-4d5d-867c-a9ffdcac2f0d.png)

I have a theory as to why this is ha

[2022-01-18 23:22] davidlcorbitt commented on #175
Here's my `yarn rw info` output:

[code]

The strange thing is that I'm actually not using SQLite as my database anymore, I'm using postgresql.  I'm not sure if I missed a step in updating my database info for RedwoodJS (it's working with postgresql locally and in production), but that could be the reason that only a few people see this error.  It might not happen for people using SQLite.

[2022-01-18 23:51] davidlcorbitt commented on #175
@snettah have you tried upgrading to the latest version of RedwoodJS?  That solved the problem for me.

[2022-01-19 00:04] davidlcorbitt commented on #175
@cannikin we should probably update the example tutorial referenced in the [Tutorial II Prerequisites](https://learn.redwoodjs.com/docs/tutorial2/prerequisites) to be the latest version of RedwoodJS.

Excerpt from current example tutorial [package.json ](https://github.com/redwoodjs/redwood-tutorial/blob/main/package.json) file:
[code]

This means that if the reader doesn't run `yarn redwood upgra

[2022-01-19 00:59] cannikin commented on #175
Yep, tutorial updates for v1.0 are in progress as we speak! https://github.com/redwoodjs/learn.redwoodjs.com/pull/173

[2022-01-19 01:19] davidlcorbitt commented on #175
Actually, I don't think this is an issue with the documentation in Tutorial I.  This problem comes up in Tutorial II when the reader starts with this cloned repository: https://github.com/redwoodjs/redwood-tutorial.  Am I missing something?

[2022-01-19 03:10] cannikin commented on #175
Ahhh that could be it—we haven't updated that repo in a while and it may be missing the fix for the test deletes! I'll create an issue to update.

[2022-01-19 21:15] cannikin commented on #175
Thanks to this PR https://github.com/redwoodjs/redwood-tutorial/issues/17 this should be closed! Feel free to re-open if you've tried starting from this point (or updated Redwood to the latest version in your tutorial app). Thanks for the fix @davidlcorbitt!

[2022-01-19 21:15] #175 closed

[2022-01-19 23:34] clairefro commented on #183
@cannikin have you run into this issue before?

[2022-01-19 23:56] cannikin commented on #183
Hmm I have not. Are those code samples you pasted what’s actually in your code? Are there no newlines in those queries? I think they’re required inside to delineate certain parts.

If there ARE newlines, maybe try restarting the dev server @berkerdemirer?

[2022-01-21 00:24] Isaac-Tait commented on #174
@clairefro What can I do to help with this?

[2022-01-21 20:03] cannikin commented on #174
I'm updating the tutorials to be compatible with Redwood v1.0 so I'll look into integrating this suggestion at the same time!

[2022-01-27 21:43] cannikin commented on #183
Hey any @berkerdemirer were you able to get this working? No pressure, but I'm just going through and cleaning up issues and would like to close this if it's resolved. :)

[2022-02-02 01:30] standup75 commented on #183
I just ran into the same issue, I think VS Code has some issues updating types dynamically, restarting VS Code made that error disappear

[2022-02-05 00:53] #127 closed

[2022-02-05 00:53] #95 closed

[2022-02-05 00:53] #128 closed

[2022-02-05 00:53] #172 closed

[2022-02-07 16:04] #183 closed

[2022-02-08 16:04] cloudify commented on #183
I just encountered this same issue, restarting vscode fixed it as well.

[2022-02-11 06:18] realStandal opened #193 "Improve clarity and provide example of mocking GraphQL requests in Storybook"
I was helping @Kritsatorn (who speaks Thai - just an fyi :) ), who ran into trouble mocking GraphQL requests from Storybook in the [tutorial app](https://github.com/redwoodjs/redwood-tutorial) while he was following [part 2](https://learn.redwoodjs.com/docs/tutorial2/welcome-to-redwood-part-ii-redwoods-revenge/). (His issue was caused by something only [slightly related](https://github.com/redwood

[2022-02-12 17:02] cannikin commented on #193
This callout (along with everything else) is being updated for the upcoming v1.0 release of Redwood.

But, there are no instructions here because there's nothing to do! If you followed along with the tutorial, you already mocked out the CommentsCell data (in a function called `standard()` in `CommentsCell.mock.js`). But at this point we're viewing a Page (that contains a Cell), and just noting tha

[2022-02-12 17:39] realStandal commented on #193
@cannikin Maybe it's because I'm on Windows, but I've never been able to just let mocking work and this note is the only sentence I've ever seen about mocking being "automatic". I've always had to `mockGraphQL*`

[2022-02-12 17:39] #193 closed

[2022-02-17 00:28] #140 closed

[2022-02-17 00:28] #174 closed

[2022-03-05 16:57] agiannelli opened #203 "📢 Community Help Wanted 📢 - Help QA the new & improved Tutorial!"
## The Redwood v1 Launch :rocket: is fast approaching and we need your help

@cannikin has revamped both Tutorial I & II for v1 RC and we need you, our amazing community members, to help QA the new & improved version to ensure the Tutorial is as amazing as ever. :sunglasses:

## :zap: TL;DR

- :construction: Go through Tutorial I & II on [learn.redwoodjs.com 3](http://learn.redwoodjs.com/)
use the

[2022-03-06 22:48] adriatic commented on #203
I strongly agree on all your points @agiannelli and look forward to a well synchronized and managed tutorial QA under your guidance. My firm opinion is that a nearly perfect tutorial is the key attraction to acquisition of new users / customers., So thank you for doing this ❤️

One more question if I may: can you please suggest some information on how to write the tests in the context of this QA?.

[2022-03-06 22:51] adriatic commented on #203
@thedavidprice - I took on myself to suggest another round of testing issues aggregation - please nix it if I am too late for this (do not to cause troubles to @agiannelli's leadership 😿)

[2022-03-09 20:23] palante commented on #203
Insightful tutorial! Created a PR for the `/building-a-form` page, regarding the contact code highlights! https://github.com/redwoodjs/learn.redwoodjs.com/pull/205

[2022-03-10 01:26] cannikin opened #206 "Proposed tutorial reorganization into chapters"
The fact that there's a Part 1 and Part 2 to the tutorial is a relic of the fact that Storybook and Jest weren't ready when I wrote part 1. Once they were, rather than making the original longer I made a sequel. Reflecting on it now it's probably not necessary.

After discussing with the core team we liked the idea of still breaking up into digestible chunks, otherwise it looks kind of overwhelmin

[2022-03-10 01:35] thedavidprice commented on #203
@palante Awesome. Thank you!

[2022-03-11 15:17] rkmitra1 commented on #203
Added a tutorial issue (dbAuth not working on Safari) to https://github.com/redwoodjs/redwood/issues/4710#issuecomment-1065206897. Not sure where I should have put my notes but is seems related to the that issue.

[2022-03-11 15:52] adriatic commented on #203
@rkmitra1 having the same issue as you (not having the definition of how to report my findings), I created my own repository (https://github.com/adriatic/tutorial-qa) where I am taking detailed notes of my QA findings, so that someone from the core team can look at my notes if necessary.

I would suggest this same approach to all folks participating in this [QA task](https://community.redwoodjs.co

[2022-03-12 20:30] agiannelli commented on #203
@adriatic apologies for my delay in response. I appreciate your support on this initiative. I apologize if my outline was not clear.

The expectations for this Tutorial QA are:

- For grammar / spelling issues - users should [open a PR](https://github.com/redwoodjs/learn.redwoodjs.com/compare) to fix or [create an issue](https://github.com/redwoodjs/learn.redwoodjs.com/issues/new) outlining the mi

[2022-03-12 23:09] adriatic commented on #203
Re-reading this single sentence I am now puzzled what else did I need 😕  ( at least I cannot resurrect the state of mind at the time I wrote the above text). I do remember how I wanted to provide a lot richer feedback that include the complete source code (presenting my own repo) to ease the problem reproduction.

Today, I am very with your summary above, so, I would only suggest to provide the ou

[2022-03-13 01:46] jacebenson opened #208 "Tutorial1: Second Page code snippet doesn't reflect code generated."
I ran through part 1 of the tutorial today to test this for the team (yay).

I found a number of things I wanted to verify or fix.

On https://learn.redwoodjs.com/docs/tutorial/a-second-page-and-a-link the code snippet for `// web/src/pages/HomePage/HomePage.js`.

It has two sections highlighted that don't make sense, but also the code is different.

Should this be highlighting `<nav>...</nav>` an

[2022-03-13 01:48] jacebenson opened #209 "Tutorial 1: Cells - Code doesn't match generated code, and highlight seems off."
Page: https://learn.redwoodjs.com/docs/tutorial/cells

[2022-03-13 01:54] jacebenson opened #210 "Tutorial 1: Routing Params code highlight incorrect"
on [/routing-params,](https://learn.redwoodjs.com/docs/tutorial/routing-params) the higlighted code for adding `<Route ... /article/{id}` is wrong

![image](https://user-images.githubusercontent.com/638764/158041473-6bbd94fc-755f-4e63-9f08-f572cb6bc138.png)

[2022-03-13 01:59] jacebenson opened #211 "Tutorial 1: Authentication - highlight model to add "User""
on [/authentication](https://learn.redwoodjs.com/docs/tutorial/authentication), maybe highlight the user model to add on schema.primsa

![image](https://user-images.githubusercontent.com/638764/158041560-7e9f9dda-ad52-486f-9e00-aef20b3dde33.png)

[2022-03-13 02:06] jacebenson opened #212 "Tutorial 1: Deployment - typo"
after dploy, re: bad actors, type `api/src/functions.auth` should be `api/src/functions/auth`

[2022-03-13 02:17] jacebenson commented on #211
I can't seem to do a clean update the js should be ````javascript {28,36} above the schema.prisma file block

[2022-03-17 13:44] snettah opened #219 "Tutorial 2: our-first-test within is not defined"
Hello,

in this section of the tutorial we use `within` in the ArticlesCell.test.js but I have an error with this.

node: v16.8.0
yarn: v1.22.11
macos
based on sample repo.

[code]

[2022-03-17 13:56] snettah commented on #219
[PR](https://github.com/redwoodjs/learn.redwoodjs.com/pull/220)

[2022-03-17 16:27] snettah commented on #219
https://github.com/redwoodjs/learn.redwoodjs.com/pull/221

[2022-03-18 08:41] jtoar commented on #219
Closed by https://github.com/redwoodjs/learn.redwoodjs.com/pull/221.

[2022-03-18 08:41] #219 closed

[2022-03-18 08:41] #212 closed

[2022-03-18 08:42] jtoar commented on #210
Thanks! I've fixed that in main.

[2022-03-18 08:42] #210 closed

[2022-03-18 08:44] jtoar commented on #208
Thanks! I saw this as well and have a PR up for it. Fix is in the works!

[2022-03-18 08:44] #208 closed

[2022-03-18 08:45] jtoar commented on #209
Thanks! I've included this fix in https://github.com/redwoodjs/redwood/pull/4781.

[2022-03-18 08:45] #209 closed

[2022-03-18 08:49] jtoar commented on #211
Good call! I've included this in https://github.com/redwoodjs/redwood/pull/4781.

[2022-03-18 08:49] #211 closed

[2022-03-18 16:41] jtoar opened #225 "🚨 HEADS UP: Docs have been migrated to the Framework Repo"
In preparation for the 1.0.0 release, the Redwood Docs have been integrated with the main Redwood Framework redwoodjs/redwood repo. We are in the final stages of the migration. Once complete, this repo will be archived.

The new doc site uses Docusaurus. The Docs are located here:
- https://github.com/redwoodjs/redwood/tree/main/docs

[2022-03-19 03:32] andae opened #226 "Add Indonesian @clairefro"
🚨 HEADS UP

In preparation for the 1.0.0 release, the Redwood Docs have been integrated with the main Redwood Framework redwoodjs/redwood repo. We are in the final stages of the migration. Once complete, this repo will be archived.

The new doc site uses Docusaurus. The Docs are located here:
- https://github.com/redwoodjs/redwood/tree/main/docs

[2022-03-19 22:04] jacebenson commented on #211
Thanks!

[2022-03-19 22:04] jacebenson commented on #209
Thanks!

[2022-03-19 22:05] jacebenson commented on #208
Great!  Thanks @jtoar

[2022-03-19 22:05] jacebenson commented on #210
Thansk!

[2022-08-09 19:11] #226 closed